APP_NAME="Slot atau Deposito"
APP_ENV=production
APP_KEY=base64:3QuUpemEvS5zLdoPeKw/VXSqoNK/aZakhN0XKaTQcwo=
APP_DEBUG=false
APP_URL=https://slot-deposito.vercel.app
APP_STORAGE=/tmp
LOG_CHANNEL=stderr
SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
VIEW_COMPILED_PATH=/tmp/laravel/views
